p {
  text-align: center;
}

.bg {
  /* The image used */
  background-image: url("https://bookishfreaks.files.wordpress.com/2015/07/website-under-construction-2914.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
}

h1 {
  text-align: center;
}

h5  {
  text-align: center;
}

body {
  background-color: #F1F1F1;
}

ul.justify-content-center {
  background-color: #f8f9fa;
}

img.resize {
  max-width:100%;
  max-height:100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.child  {
  flex: 50%;
  color: #305C7A;
}

.nav-link {
  color: #7ECFCF;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 36px; /*original 18*/
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 24px; /*original 14*/
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
